body {
	background: url('../images/sushi-bg.png');
	background-color: #faced5;
	background-size: 960px;
	background-repeat: no-repeat;
	font-family: 'Architects Daughter', cursive;
	margin: 20px;
}

h1 {
	font-family: 'Architects Daughter', cursive;
	font-size: 36px;
}

header {
	margin-left: 25%;
}

.image-container img {
	width: 200px;
	height: auto;
	padding: 5px;
}

#container {
	width: 100%;
	max-width: 700px;
	height: auto;
	background: white;
	margin: 20px;
	padding: 5px;
}

#start-btn {
	margin-left: 35%;
	align-content: center;
}

